section.card-grid-cards-effect-appear {
  position: relative;
  width: auto;
  height: 200px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15),
    rgba(182, 183, 255, 0.23)
  );
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-grid-cards-effect-appear::before {
  /* background: #e5e5e565; */
  opacity: 0.7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}

.card-grid-cards-effect-appear svg {
  fill: #b8b8b8;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
  stroke: #b8b8b8;
}
.card-grid-cards-effect-appear:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #000000;
  background-color: #a7a8b9;
  color: #ffffff;
}

.card__content-grid-cards-effect-appear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #14a3ff 0%, #004ebc 100%);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-grid-cards-effect-appear:hover .card__content-grid-cards-effect-appear {
  transform: rotateX(0deg);
}

.card__title-grid-cards-effect-appear {
  margin: 0;
  font-size: 1.5rem;
  color: #efefef;
  font-weight: 700;
}

.card-grid-cards-effect-appear:hover svg {
  scale: 0;
}

.card__description-grid-cards-effect-appear {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  line-height: 1.4;
}
/* Pulse animation for clickable indicator */
@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.pulse-animation {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.clickable-indicator-grid-cards-effect-appear {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
