*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  min-height: 100vh;
  background-color: #f6f8fc;
  color: #04112e;
}

#root {
  min-height: 100vh;
}


