#floating-cubes-container_mas_alla_del_cielo {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  margin-bottom: auto !important;
}

@media (min-width: 1024px) {
  #floating-cubes-container_mas_alla_del_cielo {
    height: 70% !important;
    margin-top: auto !important;
    margin-bottom: 4px !important;
  }
}
